@charset "shift_jis";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td,img  {
	margin:0;
	padding:0;
}
body {
	line-height:1.5em;
	font-size:75%;
	color:#333;
	margin:0 auto 0 auto;
	padding:0;
	text-align:center;
	height:auto;
	font-family:"ヒラギノ丸ゴ Pro W4", verdana, "Hiragino Maru Gothic Pro", osaka, メイリオ, Meiryo, "ＭＳ ゴシック", "MS Gothic", sans-serif;
	background:#fff url(../images/main_bg.gif) repeat-x top;
}
.main-body {
	width:900px;
	margin:0 auto 0 auto;
	padding:0;
	text-align:center;
	height:auto;
}


/* リンク －－－－－－－－－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
a:link {
	text-decoration:none;
	color:#333;
}
a:visited {
	text-decoration:none;
	color:#333;
}	 
a:active {
	text-decoration:none;
	color:#333;
}
a:hover {
	text-decoration:none;
	color:#0880a7;
}


/* フッター －－－－－－－－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
address {
	padding:0;
	margin:0;
	line-height:32px;
	font-size:100%;
	font-style:normal;
	background-color:#d6d5d5;
	text-align:center;
}


/* 設定いろいろ －－－－－－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
ol,ul,li {
	list-style:none;
	margin:0px;
	padding:0;
}
p {
	margin:0;
	padding:0;
}
a img {
	border:none;
}
.red {
	color:#FF0000;
}


/* ヘッダー －－－－－－－－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
h1 {
	margin:0;
	padding:0;
	float:left;
	width:500px;
	height:82px;
}
.header {
	float:left;
	width:300px;
	height:82px;
	margin:0 0 0 100px;
	padding:0;
	display:inline;
	background-repeat: no-repeat;
}
.member_table {
	margin:20px 0 0 0;
	padding:0;
	width:290px;
	font-size:100%;
	border-collapse:collapse;
}
.member_table th{
	width:140px;
	border:none;
	background-color:transparent;
}
.member_table td {
	padding:0 0 0 10px;
	text-align:right;
	vertical-align:top;
	border:none;
}
.member_table td input.id {
	height:13px;
	width:80px;
}
/* IE6のみ */
* html body .member_table td input.id {
	height:17px;
	width:80px;
}
.member_table td.lost {
	padding:0 0 0 35px;
	text-align:left;
	vertical-align:top;
	font-size:12px;
	height:14px;
	border:none;
}


/* メインメニュー －－－－－－－－－－－－－－－－－
－－－－－－－－－－－－－－other_dropdownmenu.css*/


/* コンテンツ －－－－－－－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
.main-contents {
	clear:both;
	float:left;
	background:url(../images/top_bg.gif) repeat-y;
	margin:22px 0 0 0;
}
.main-contents-riyou {
	clear:both;
	float:left;
	background:url(../images/other_bg.gif) repeat-y;
	margin:22px 0 0 0;
}

.contents_left {
	float:left;
	width:200px;
	margin:0;
	padding:0;
	background:url(../images/left_menu01.gif) no-repeat;
	height:auto;
}
.contents_left-riyou {
	float:left;
	width:200px;
	margin:0;
	padding:0;
	background:url(../images/right_menu01.gif) no-repeat;
	height:auto;
}
.contents_right {
	float:right;
	width:697px;
	margin:0;
	padding:0;
}


/* 左メニュー －－－－－－－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
ul.left_menu {
	margin:47px 0 0 0;
	padding:0;
}
ul.left_menu li {
	padding:0;
	margin:0;
}
.left_menu01 a {
	display:block;
	background:url(../images/left_menu02.gif) no-repeat left top;
	width:200px;
	height:47px;
	margin:0;
	padding:0;
	text-indent:-9999px;
}
.left_menu01 a:hover {
	display:block;
	background:url(../images/left_menu02.gif) no-repeat left -47px;
	width:200px;
	height:47px;
	text-indent:-9999px;
}
.left_menu02 a {
	display:block;
	background:url(../images/left_menu03.gif) no-repeat left top;
	width:200px;
	height:47px;
	margin:0;
	padding:0;
	text-indent:-9999px;
}
.left_menu02 a:hover {
	display:block;
	background:url(../images/left_menu03.gif) no-repeat left -47px;
	width:200px;
	height:47px;
	text-indent:-9999px;
}
.left_menu03 a {
	display:block;
	background:url(../images/left_menu04.gif) no-repeat left top;
	width:200px;
	height:47px;
	margin:0;
	padding:0;
	text-indent:-9999px;
}
.left_menu03 a:hover {
	display:block;
	background:url(../images/left_menu04.gif) no-repeat left -47px;
	width:200px;
	height:47px;
	text-indent:-9999px;
}


ul.left_bunner {
	margin:20px 0 0 0;
	padding:0;
	text-align:center;
	width:200px;
}
.left_bunner li {
	margin:0 0 6px 0;
	padding:0;
}


/* 左メニュー（riyou） －－－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
ul.left_menu-riyou {
	margin:47px 0 0 0;
	padding:0;
}
ul.left_menu-riyou li {
	padding:0;
	margin:0;
}
.left_menu-riyou01 a {
	display:block;
	background:url(../images/right_menu02.gif) no-repeat left top;
	width:200px;
	height:47px;
	margin:0;
	padding:0;
	text-indent:-9999px;
}
.left_menu-riyou01 a:hover {
	display:block;
	background:url(../images/right_menu02.gif) no-repeat left -47px;
	width:200px;
	height:47px;
	text-indent:-9999px;
}
.left_menu-riyou02 a {
	display:block;
	background:url(../images/right_menu03.gif) no-repeat left top;
	width:200px;
	height:47px;
	margin:0;
	padding:0;
	text-indent:-9999px;
}
.left_menu-riyou02 a:hover {
	display:block;
	background:url(../images/right_menu03.gif) no-repeat left -47px;
	width:200px;
	height:47px;
	text-indent:-9999px;
}
.left_menu-riyou03 a {
	display:block;
	background:url(../images/right_menu04.gif) no-repeat left top;
	width:200px;
	height:47px;
	margin:0;
	padding:0;
	text-indent:-9999px;
}
.left_menu-riyou03 a:hover {
	display:block;
	background:url(../images/right_menu04.gif) no-repeat left -47px;
	width:200px;
	height:47px;
	text-indent:-9999px;
}


/* このページのトップへ －－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
.totop {
	text-align:right;
	margin:0 20px 15px 0;
	padding:0;
}
.totop a:link {
	text-decoration:underline;
	color:#715c5b;
}
.totop a:visited {
	text-decoration:underline;
	color:#715c5b;
}	 
.totop a:active {
	text-decoration:underline;
	color:#715c5b;
}
.totop a:hover {
	text-decoration:underline;
	color:#0880a7;
}

.totop02 {
	clear:both;
	text-align:right;
	margin:15px 20px 15px 0;
	padding:0;
}
.totop02 a:link {
	text-decoration:underline;
	color:#715c5b;
}
.totop02 a:visited {
	text-decoration:underline;
	color:#715c5b;
}	 
.totop02 a:active {
	text-decoration:underline;
	color:#715c5b;
}
.totop02 a:hover {
	text-decoration:underline;
	color:#0880a7;
}


/* フッターメニュー －－－－－－－－－－－－－－－－
－－－－－－－－－－－－－－－－－－－－－－－－－*/
.footer_menu {
	clear:both;
	text-align:center;
	margin:0 0 20px 0;
	padding:17px 0 0 0;
}
/* IE7のみ適用 */
*:first-child+html body .footer_menu {
	clear:both;
	text-align:center;
	margin:0 0 20px 0;
	padding:8px 0 0 0;
}

.footer_menu01 a:link {
	text-decoration:none;
	color:#f00;
}
.footer_menu01 a:visited {
	text-decoration:none;
	color:#f00;
}	 
.footer_menu01 a:active {
	text-decoration:none;
	color:#f00;
}
.footer_menu01 a:hover {
	text-decoration:none;
	color:#0880a7;
}


/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－カーシェアリングとは（sharing.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/* カーシェアリングとは */
h2.sharing_title01 {
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.sharing_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}
.sharing_img01 {
	margin:15px 0 10px 30px;
	padding:0;
}
.sharing_p01 {
	margin:0 0 20px 30px;
	padding:0;
}

/* 利用者のメリット */
h2.sharing_title02 {
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.sharing_title02 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}
dl.sharing_dl01 {
	margin:15px 0 2px 24px;
	padding:0;
}
dl.sharing_dl01 dt {
	width:120px;
	float:left;
	clear:both;
	height:90px;
}
dl.sharing_dl01 dd {
	margin:0 0 0 120px;
	padding:8px 0 0 0;
	height:82px;
}
/* IE6のみ */
* html body dl.sharing_dl01 dd {
	margin:0 0 0 120px;
	padding:8px 0 0 0;
	height:90px;
}

dl.sharing_dl01 dd img {
	margin:0 0 8px 0;
	padding:0;
}


/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－車を利用したい方/ご利用方法（riyou.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/* ご利用方法 */
h2.riyou_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.riyou_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}

h3.riyou_title02 {
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title02.gif) no-repeat;
	font-size:100%;
	text-indent:100px;
	height:26px;
}
/* IE6のみ */
* html body h3.riyou_title02 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title02.gif) no-repeat;
	font-size:100%;
	text-indent:100px;
	height:30px;
}
dl.riyou_dl01 {
	margin:15px 0 0 45px;
	padding:0;
}
dl.riyou_dl01 dt {
	background:url(../images/riyou/riyou-dt_bg02.gif) no-repeat left top;
	padding:8px 0 0 5px;
	margin:0 0 8px 0;
}
dl.riyou_dl01 dd {
	margin:0 0 0 0;
	padding:0;
}

h3.riyou_title03 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title03.gif) no-repeat;
	font-size:100%;
	text-indent:100px;
	height:26px;
}
/* IE6のみ */
* html body h3.riyou_title03 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title03.gif) no-repeat;
	font-size:100%;
	text-indent:100px;
	height:30px;
}

dl.riyou_dl02 {
	margin:15px 0 10px 45px;
	padding:0;
}
dl.riyou_dl02 dt {
	width:400px;
	float:left;
	clear:both;
	height:498px;
}
dl.riyou_dl02 dd {
	margin:0 0 180px 400px;
	padding:8px 0 0 5px;
	background:url(../images/riyou/riyou-dt_bg02.gif) no-repeat left top;
}
dl.riyou_dl02 dd.second {
	margin:0 0 115px 400px;
	padding:8px 0 0 5px;
	background:url(../images/riyou/riyou-dt_bg01.gif) no-repeat left top;
}
dl.riyou_dl02 dd.end {
	margin:0 0 100px 400px;
	padding:8px 0 0 5px;
	background:url(../images/riyou/riyou-dt_bg01.gif) no-repeat left top;
}

h3.riyou_title04 {
	clear:both;
	margin:0 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title04.gif) no-repeat;
	font-size:100%;
	text-indent:100px;
	height:26px;
}
/* IE6のみ */
* html body h3.riyou_title04 {
	clear:both;
	margin:0 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title04.gif) no-repeat;
	font-size:100%;
	text-indent:100px;
	height:30px;
}
dl.riyou_dl03 {
	margin:15px 0 10px 45px;
	padding:0;
}
dl.riyou_dl03 dt {
	width:400px;
	float:left;
	clear:both;
	height:498px;
}
dl.riyou_dl03 dd {
	margin:0 0 155px 400px;
	padding:8px 0 0 5px;
	background:url(../images/riyou/riyou-dt_bg01.gif) no-repeat left top;
}
dl.riyou_dl03 dd.second {
	margin:0 0 140px 400px;
	padding:8px 0 0 5px;
	background:url(../images/riyou/riyou-dt_bg01.gif) no-repeat left top;
}
dl.riyou_dl03 dd.end {
	margin:0 0 100px 400px;
	padding:8px 0 0 5px;
	background:url(../images/riyou/riyou-dt_bg02.gif) no-repeat left top;
}
dl.riyou_dl03 dd img {
	margin:0 0 8px 0;
	padding:0;
}

/* 入会方法 */
h3.riyou_title05 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title05.gif) no-repeat;
	font-size:100%;
	text-indent:60px;
	height:26px;
}
/* IE6のみ */
* html body h3.riyou_title05 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title05.gif) no-repeat;
	font-size:100%;
	text-indent:60px;
	height:30px;
}
.riyou_p01 {
	margin:0 0 10px 45px;
	padding:0;
}
dl.riyou_dl04 {
	margin:15px 0 15px 45px;
	padding:0;
}
dl.riyou_dl04 dt {
	font-weight:bold;
	margin:0 0 8px 0;
	padding:0;
	color:#f60;
	font-size:120%;
}

h3.riyou_title06 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title06.gif) no-repeat;
	font-size:100%;
	text-indent:60px;
	height:26px;
}
/* IE6のみ */
* html body h3.riyou_title06 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title06.gif) no-repeat;
	font-size:100%;
	text-indent:60px;
	height:30px;
}

h3.riyou_title07 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title07.gif) no-repeat;
	font-size:100%;
	text-indent:60px;
	height:26px;
}
/* IE6のみ */
* html body h3.riyou_title07 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title07.gif) no-repeat;
	font-size:100%;
	text-indent:60px;
	height:30px;
}

.riyou_img01 {
	margin:0 0 0 69px;
	padding:0;
}
.riyou_img02 {
	margin:0 0 15px 45px;
	padding:0;
}

/* 入会申込書 */
.riyou_p02 {
	text-align:center;
	margin:0 0 10px 0;
	padding:0;
}
.riyou_box01 {
	border:solid 1px #ccc;
	float:left;
	margin:0 0 15px 50px;
	padding:5px;
}
/* IE6のみ */
* html body .riyou_box01 {
	border:solid 1px #ccc;
	float:left;
	margin:0 0 15px 35px;
	padding:5px;
}
/* Opera+Internet Explorer 7  */
*+html .riyou_box01 {
	border:solid 1px #ccc;
	float:left;
	margin:0 0 15px 70px;
	padding:5px;
}

.riyou_box01 img {
	float:left;
}
.riyou_p03 {
	float:left;
}

/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ニュース・トピックス（news.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
h2.news_title01 {
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.news_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}

dl.news_dl {
	margin:15px 15px 2px 24px;
	padding:0;
}
dl.news_dl dt {
	width:120px;
	float:left;
	font-weight:bold;
}
dl.news_dl dd {
	margin:0 0 0 120px;
	padding:0;
	font-weight:bold;
}
dl.news_dl dd.end {
	margin:0 0 15px 0;
	padding:0;
	font-weight:normal;
}


/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－駐車ステーション（station.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
h2.station_title01 {
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.station_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}

h3.station_title02 {
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/station/station_title02.gif) no-repeat;
	font-size:100%;
	text-indent:80px;
	height:26px;
}
/* IE6のみ */
* html body h3.station_title02 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/station/station_title02.gif) no-repeat;
	font-size:100%;
	text-indent:80px;
	height:30px;
}

/* 東京駐車場 */
.station_p01 {
	margin:0 0 0 45px;
	padding:0;
}
.station_p01 img{
	vertical-align:middle;
	margin:0 6px 0 0;
	padding:0;
}
.station_icon01 {
	float:right;
	margin:0 20px 10px 0;
	padding:0;
}
.station_map01 {
	clear:both;
	margin:0 0 15px 45px;
	padding:0;
}
.station_map02 {
	clear:both;
	margin:0 0 10px 45px;
	padding:0;
}

/* 福井駐車場 */
.station_p02 {
	clear:both;
	float:left;
	width:500px;
	margin:0 0 10px 45px;
	padding:0;
}
.station_icon02 {
	float:right;
	margin:4px 20px 10px 0;
	padding:0;
	width:64px;
}
.station_p02 img{
	vertical-align:middle;
	margin:0 6px 0 0;
	padding:0;
}


/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－uprCSSの特徴（tokutyou.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
h2.tokutyou_title01 {
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.tokutyou_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}
.tokutyou_p01 {
	margin:10px 15px 15px 30px;
	padding:0;
}
.tokutyou_ul01 {
	margin:10px 0 15px 30px;
	padding:0 240px 0 0;
	background:url(../images/tokutyou/tokutyou_img01.jpg) no-repeat bottom right;
}
.tokutyou_ul01 li{
	margin:10px 0 15px 30px;
	padding:0;
	list-style:disc;
}


/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－主な機能紹介（kinou.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
h2.kinou_title01 {
	margin:0 0 0 4px;
	padding:4px 0 15px 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.kinou_title01 {
	clear:both;
	margin:0 0 15px 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}

.kinou_ul01 {
	margin:15px 0 15px 65px;
	padding:0;
}
.kinou_ul01 li {
	list-style:disc;
	margin:0 0 8px 0;
	padding:0;
}
.kinou_img01 {
	margin:0 0 15px 65px;
	padding:0;
}

h3.kinou_title02 {
	font-size:100%;
	font-weight:bold;
	margin:0 0 8px 30px;
	padding:0;
	background:url(../images/kinou/kinou_title02.gif) no-repeat;
	text-indent:55px;
	line-height:25px;
}
h3.kinou_title03 {
	font-size:100%;
	font-weight:bold;
	margin:0 0 8px 30px;
	padding:0;
	background:url(../images/kinou/kinou_title03.gif) no-repeat;
	text-indent:55px;
	line-height:25px;
}
h3.kinou_title04 {
	font-size:100%;
	font-weight:bold;
	margin:0 0 8px 30px;
	padding:0;
	background:url(../images/kinou/kinou_title04.gif) no-repeat;
	text-indent:55px;
	line-height:25px;
}
h3.kinou_title05 {
	font-size:100%;
	font-weight:bold;
	margin:0 0 8px 30px;
	padding:0;
	background:url(../images/kinou/kinou_title05.gif) no-repeat;
	text-indent:55px;
	line-height:25px;
}
h3.kinou_title06 {
	font-size:100%;
	font-weight:bold;
	margin:0 0 8px 30px;
	padding:0;
	background:url(../images/kinou/kinou_title06.gif) no-repeat;
	text-indent:55px;
	line-height:25px;
}


/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－課金システム（system.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
h2.system_title01 {
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.system_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}

.system_ul01 {
	margin:15px 0 15px 45px;
	padding:0;
}
.system_ul01 li{
	list-style:disc;
	margin:0 0 8px 0;
	padding:0;
}
.system_img01 {
	margin:0 0 15px 45px;
	padding:0;
}


/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－お問い合わせ（inq.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
h2.inq_title01 {
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.inq_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/kinou/kinou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}
.inq_p01 {
	margin:15px 0 15px 45px;
	padding:0;
}

.inq_dl01 {
	margin:15px 0 15px 45px;
	padding:0;
}
.inq_dl01 dt {
	color:#f00;
	margin:0;
	padding:0;
}

.inq_table01 {
	border-collapse:collapse;
	border:1px solid #ccc;
	font-size:100%;
	margin:0 0 30px 65px;
	padding:0;
}
th {
	border:1px solid #ccc;
	text-align:left;
	vertical-align:top;
	padding:3px;
	width:130px;
	background:#f3f3f3;
}
td {
	border:1px solid #ccc;
	text-align:left;
	vertical-align:top;
	padding:3px;
}
.inq_table01-td {
	line-height:25px;
}

textarea {
	font-size:100%;
}


.inq_table02 {
	border:none;
	font-size:100%;
	margin:0 0 30px 65px;
	padding:0;
	width:450px;
}
.inq_table02 tr,
.inq_table02 th,
.inq_table02 td {
	border:none;
	text-align:center;
}


/* －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－料金プラン（ryoukin.html）
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
h2.ryoukin_title01 {
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:26px;
}
/* IE6のみ */
* html body h2.ryoukin_title01 {
	clear:both;
	margin:0 0 0 4px;
	padding:4px 0 0 0;
	background:url(../images/riyou/riyou_title01.gif) no-repeat;
	font-size:100%;
	text-indent:30px;
	height:30px;
}


h3.ryoukin_title02 {
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/ryoukin/ryoukin_title02.gif) no-repeat;
	font-size:100%;
	text-indent:15px;
	height:26px;
}
/* IE6のみ */
* html body h3.ryoukin_title02 {
	clear:both;
	margin:15px 0 10px 30px;
	padding:4px 0 0 0;
	background:url(../images/ryoukin/ryoukin_title02.gif) no-repeat;
	font-size:100%;
	text-indent:15px;
	height:30px;
}

.ryoukin_table01 {
	width:500px;
	margin:0 0 0 45px;
	padding:0;
	font-size:100%;
	border-collapse:collapse;
	border:1px solid #ccc;
}

.ryoukin_table01 tr,
.ryoukin_table01 td { 
	border:1px solid #ccc;
	padding:3px;
}
.ryoukin_table01 th { 
	border:1px solid #ccc;
	background-color:#e0dddd;
	padding:3px;
}
.ryoukin_table01-gree {
	background-color:#f3f3f3;
	font-weight:bold;
}

/* 東京　料金プラン */
.ryoukin_table02 {
	width:500px;
	margin:0 0 0 45px;
	padding:0;
	font-size:100%;
	border-collapse:collapse;
	border:1px solid #ccc;
}

.ryoukin_table02 tr{ 
	border:1px solid #ccc;
	padding:3px;
}
.ryoukin_table02 th { 
	border:1px solid #ccc;
	background-color:#f3f3f3;
	padding:3px;
	width:70px;
}
.ryoukin_table02 td { 
	border:1px solid #ccc;
	padding:3px;
	text-align:center;
}
.ryoukin_table02 th.width2 { 
	border:1px solid #ccc;
	background-color:#f3f3f3;
	padding:3px;
	width:140px !important;
}

.ryoukin_table02 td.yellow01 { 
	border:1px solid #ccc;
	padding:3px;
	text-align:center;
	background-color:#e8e87b;
}
.ryoukin_table02 td.yellow02 { 
	border:1px solid #ccc;
	padding:3px;
	text-align:center;
	background-color:#fbfbde;
}

dl.ryoukin_dl01 {
	margin:15px 0 0 45px;
	padding:0;
}
dl.ryoukin_dl01 dt {
	width:100px;
	float:left;
	font-weight:bold;
}
dl.ryoukin_dl01 dd {
	padding-left:100px;
}


dl.ryoukin_dl01 ul {
	margin:0 0 0 15px;
	padding:0;
}
dl.ryoukin_dl01 li {
	margin:0;
	padding:0;
	list-style:decimal;
}

.ryoukin_table03 {
	width:350px;
	margin:0;
	padding:0;
	font-size:100%;
	border-collapse:collapse;
	border:1px solid #ccc;
}

.ryoukin_table03 tr{ 
	border:1px solid #ccc;
	padding:3px;
}
.ryoukin_table03 th { 
	border:1px solid #ccc;
	background-color:#f3f3f3;
	padding:3px;
	width:70px;
	text-align:center;
}
.ryoukin_table03 td { 
	border:1px solid #ccc;
	padding:3px;
	text-align:center;
	width:25%;
}

.ryoukin_table03 tr.yellow01 { 
	border:1px solid #ccc;
	padding:3px;
	text-align:center;
	background-color:#e8e87b;
	width:25%;
}

/* 福井　料金プラン */
.ryoukin_p01 {
	margin:10px 0 0 45px;
	padding:0;
}

/* メリット */
.ryoukin_dl02 {
	margin:0 0 15px 45px;
	padding:0;
}
.ryoukin_dl02 dt{
	margin:0;
	padding:0;
	font-weight:bold;
}
.ryoukin_dl02 dd{
	margin:0 0 8px 15px;
	padding:0;
}
.ryoukin_p02 {
	margin:0 0 0 45px;
	padding:0;
}

/* コスト比較 */
.ryoukin_img01 {
	margin:10px 0 0 45px;
	padding:0;
}
