@charset "utf-8";
.mface {
	text-align: center;
	margin: 0;
	font-size: 12px;
	color: #333;
}
.mface .mface-container {
	width: 600px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: left;
}
.mface .mface-bar {
	width: 600px;
	padding: 10px 0;
	margin: auto;
	color: #FFF;
	background-color: #F90;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.mface .mface-text {
	width: 560px;
	margin: 0 auto;
	padding: 20px;
}
.mface .mface-form_wrapper {
	width: 600px;
	margin: 0 auto;
}
.mface .mface-left {
	padding: 10px;
	vertical-align: middle;
	width: 35%;
	background-color: #FC9;
	color: #666;
	border: 1px solid #FFF;
	word-break:nowrap;
}
.mface .mface-right {
	padding: 10px;
	vertical-align: middle;
	width: 65%;
	background-color: #FCE8D3;
	border: 1px solid #FFF;
}
.mface .mface-red {
	color: #F00;
}
.mface-right p{
	margin: 0px;
}
