@charset "utf-8";
/* CSS Document */

/* PAGE:ソリューション
---------------------------------------------------------*/
.solution #mainvisual {
	position:relative;
}
.solution #mainvisual h1 {
	position:absolute;
	top:30px; left:190px;
}
.solution #contents h2 {
	margin-bottom:20px;
}
.solution #contents h3 {
	border-bottom:none;
}
.solution #contents .point {
	background:url(../../case/img/img_bottom_point.png) left bottom no-repeat;
	padding-bottom:11px;
	width:610px;
	margin-bottom:20px;
}
.solution #contents .point h3 {
	padding:0 0 0px 0;
	margin:0;	
}
.solution #contents .solution {
	padding:15px 0px 10px 0px;	
}
.solution #contents h4 {
	font-size:150%;
	margin-top:20px;
}
.solution #contents .point ul {
	background:url(../../case/img/bg_point.png) 0 0px repeat-y;
	padding:15px 0 5px 0;
	margin:0;
	width:610px;
	overflow:hidden;
	
}
.solution #contents .point ul li {
	padding:6px 20px 20px 65px;
	margin:0px 20px 10px 25px;
	list-style:none;
}
.solution #contents .point ul li.no1 {
	background:url(../img/bg_tokucho1.png) 0px 5px no-repeat;
}
.solution #contents .point ul li.no2 {
	background:url(../img/bg_tokucho2.png) 0px 5px no-repeat;
}
.solution #contents .point ul li span {
	color:#F32C2C;
	font-weight:bold;
	font-size:20px;
}
.solution #contents div.point34
 {
	padding:10px 15px 10px 15px;
	border:1px solid #CCC;
	overflow:hidden;
	margin-bottom:20px;
}
.solution #contents .point3,
.solution #contents .point4
 {
	width:280px;
}
.solution #contents dl.point3  dt,
.solution #contents dl.point4  dt
 {
	color:#F32C2C;
	font-weight:bold;
	padding-left:60px;
	padding-top:7px;
	padding-bottom:5px;
}
.solution #contents dl.point3 dt
 {
	background:url(../img/bg_tokucho3.png) 0px 5px no-repeat;
}
.solution #contents dl.point4 dt
 {
	background:url(../img/bg_tokucho4.png) 0px 5px no-repeat;
}
.solution #contents .point3
 {
	float:left;
}
.solution #contents .point4
 {
	float:right;
}
.solution #contents p.more span
 {
	 font-weight:bold;
	 font-size:36px;
	 color:#00AB55;
}














