@charset "utf-8";
/*初期化*/
* {
	margin : 0;
	padding : 0;
	color:#464646;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	/*font-family: "ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3",Osaka, sans-serif;*/
	font-size: 1em;
	font-weight: normal;
	line-height:1.0;
	}

html, body {height: 100%;}

/*文書全体*/
body {
	background:#ffffff url(../common_images/bodyBg.gif) repeat-x left top;
	text-align: center;/*IE5.5対策*/
}

/*リスト*/
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin:0; padding:0;
}

ul,li,dt,dd{
	line-height:1.5em;
}

/*文章*/
p{
	margin: 0 10px 30px 10px;
	font-size: 0.76em;
	line-height:1.5;
}

/*文字の均等割付*/
.justify{
	text-align: justify; /* for modern browser */
	text-justify: inter-ideograph; /* IE6～8 */
}

/*リンクテキスト*/
a {
	color:#2F84B8;text-decoration:none;
}
a:hover{
	color:#355DA8;text-decoration:underline;
}



/*********************************************ここからコンテンツ枠組み**********************************************/
/*全体*/
#wrapper{
	width:902px;
	text-align:center;
	min-height: 100%;
	margin:0 auto;
	background:url(../common_images/wrapperBg.gif) repeat-y center top;/*背景表示のために必要*/
}

/*全体のコンテナ*/
#container{
	padding: 0;
	margin: 0 auto;
	overflow:auto;
	padding-bottom: 148px;/* must be same height as the footer */
	width: auto;
}

/*\*/
* html #container {
	height: 1em;
	overflow:visible;
	}
/**/

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


/*ヘッダー*/
#header{
	width:902px;
	height:91px;
	background:#ffffff url(../common_images/headerBg.gif) no-repeat center top;
	margin: 0 auto;
}

#headerInner{
	width:843px;
	height:60px;
	text-align:center;
	position:relative;
	padding: 16px 20px 15px 37px;
	clear: both;
	margin: 0 auto;
}

h1#logo{
	width:406px;
	height:31px;
	background:#ffffff url(../common_images/logo.gif) repeat-x;
	text-indent: -9999px;
	position: absolute;
	top: 35px;
	left:38px;
}

h1#logo a{
	display: block;
	width: 100%;
	height:31px;
	overflow: hidden;/*firefoxでリンク時に枠線がはみ出る際の対策*/
}

/*ヘッダー部・お問い合わせ欄*/
#headerContact{
	width: 390px;
	height:60px;
	position: absolute;
	top: 16px;
	left: 509px;
}

#headerContact ul{
	list-style-type: none;margin: 0;padding: 0;
}

#headerContact li{
	float:left;width: auto;margin: 0;padding: 0;
}

#headerContact #btnForm {
	text-indent: -9999px;background-position: 0 0;
}

#headerContact #btnForm a{
	display: block;width:123px;height:49px;
	background: url(../common_images/btn_contactform.gif) no-repeat;
	overflow: hidden;/*firefoxでリンク時に枠線がはみ出る際の対策*/
}

#headerContact #btnForm a:hover{
	background-position: -125px 0;height:49px;
}


/*フッター*/
#footer{
	background:url(../common_images/footerBg.gif) repeat-x center bottom;
	width:100%;
	padding: 0;
	margin:0 auto;
	position: relative;
	margin-top: -148px; /* negative value of footer height */
	height:148px;
	clear:both;
}

#footerBg{
	background:url(../common_images/footerBg01.gif) no-repeat center bottom;
	width: 900px;
	margin: 0 auto;
	height: 148px;
}

#footerInner{
	width:900px;
	height:20px;
	text-align:center;
	margin:0 auto;
	clear: both;
}

/*フッター部・ページトップ部分*/
#carcherryTop{
	width: 108px;
	height:20px;
	text-indent: -9999px;
	float: left;
}

#carcherryTop a{
	display: block;
	background: url(../common_images/btn_carcherry_top.gif) no-repeat;
	overflow: hidden;/*firefoxでリンク時に枠線がはみ出る際の対策*/
	width: 108px;height:20px;
}

#carcherryTop a:hover{
	background-position: 0 -20px;width: 108px;height:20px;
}

/*ページトップ*/
#pageTop{
	width: 109px;
	height:20px;
	text-indent: -9999px;
	float:right;
}

#pageTop a{
	display: block;
	background: url(../common_images/btn_pagetop.gif) no-repeat;
	overflow: hidden;/*firefoxでリンク時に枠線がはみ出る際の対策*/
	height:20px;
}

#pageTop a:hover{
	background-position: 0 -20px;width: 108px;height:20px;
}
		   
/*フッターメニュー（グローバル）*/
.footerNav01{
	width: 860px;
	height:50px;
	margin:14px 20px;
	text-align:left;
}
	  
.footerNav01 .footerNavIn {
	float: left;
}
.footerNav01 ul{
	/*width: 130px;*/
	width: auto;
	background:#5EBEE5 url(../common_images/footerLine.gif) repeat-y;	
	list-style-type: none;
	display: block;
	float:left;
}
	  
.footerNav01 li{
	/*width: 110px;*/
	width: auto;
	margin:5px 0 10px 15px;
	background: url(../common_images/footerMark01.gif) no-repeat left center;
	font-size: 0.68em;
	line-height:1.3;
	color:#FFFFFF;
	text-indent:20px;
	min-width:110px;
	width: auto !important;
	width: 110px;
}

.footerNav01 li a,.footerNav02 li a{
	text-decoration:none;color:#FFFFFF;
}
.footerNav01 li a:hover,.footerNav02 li a:hover{
	text-decoration:underline;color:#FFFFFF;
}

/*フッターメニュー（サイトマップ他）*/
.footerNav02{
	width: 860px;
	margin:0 auto;
	text-align:left;
	clear: both;
	height: 20px;
}

.footerNav02 ul{
	width: 860px;
	list-style-type: none;
}

.footerNav02 li{
	margin:0 20px 0 0;
	background: url(../common_images/footerMark02.gif) no-repeat left center;
	font-size: 0.65em;
	color:#FFFFFF;
	text-indent: 10px;
	float: left;
}

/*コピーライト*/
address#copy{
	clear:both;
	width:860px;
	margin: 10px auto 0 auto;
	text-align: left;
	text-indent:-9999px;
	background: url(../common_images/copyright.gif) no-repeat;
}

	 
/*ナビゲーション*/
#globalNav{
	width: 200px;
	/*margin:0 0 50px 0;*/
	margin: 0;
}

#globalNav ul{
	list-style-type: none;
}

#globalNav li{
	width: auto;
}

#globalNav a{
	color:#333333;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 50px;
	/*text-indent:50px;*/
	line-height:4em;
	text-decoration:none;	
	display: block;
	background: url(../common_images/naviBg.gif) no-repeat;
	width: 150px;
	height: 400px;
	overflow: hidden;/*firefoxでリンク時に枠線がはみ出る際の対策*/
}

#globalNav #menu1 a{
	background-position: 0 0;height:54px;
}
#globalNav #menu2 a{
	background-position: 0 -54px;height:55px;
}
#globalNav #menu3 a{
	background-position: 0 -109px;height:54px
}
#globalNav #menu4 a{
	background-position: 0 -163px;height:55px;
}
#globalNav #menu5 a{
	background-position: 0 -218px;height:55px;
}
#globalNav #menu6 a{
	background-position: 0 -273px;height:55px;
}

#globalNav a:hover{
	display: block;
	background: url(../common_images/naviBg_o.gif) no-repeat;
	width: 150px;
	overflow: hidden;/*firefoxでリンク時に枠線がはみ出る際の対策*/
}

#globalNav #menu1 a:hover{
	background-position: 0 0;height:54px;
}
#globalNav #menu2 a:hover{
	background-position: 0 -54px;height:55px;
}
#globalNav #menu3 a:hover{
	background-position: 0 -109px;height:54px;
}
#globalNav #menu4 a:hover{
	background-position: 0 -163px;height:55px;
}
#globalNav #menu5 a:hover{
	background-position: 0 -218px;height:55px;
}
#globalNav #menu6 a:hover{
	background-position: 0 -273px;height:55px;
}


/*==========================
  IE6以下用ハック
==========================*/
/*IE6以下用ハック*/
/*全体のコンテナ*/
* html #content{
	width:664px;
	margin:20px 18px;
}

* html .footerMenu01 li{
	margin:5px 0 5px 8px;
	}
* html .dl_sitemap{
	margin:-20px auto 50px auto;
}


/*↓float使用時のclearfix設定*/
/* clearfix */

.clearfix {
  zoom: 1; /* for IE5.5 - IE7 */
  }
.clearfix:after { /* for modern browser */
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
  /*font-size: 0px;*/
  }
/*  */


/*他、ナビゲーション*/
#leftBox div.othrMenu{
	width: 200px;
	margin:10px 0 50px 0;
}

#leftBox div.othrMenu a img{
	border-style: none;
}