@charset "utf-8";
/* CSS Document */

/*==========================
  IE5対応の場合ここで設定します
==========================*/
#wrapper{
	text-align:center;
	min-height: 100%;
	margin:0 auto;
}

/*ヘッダー*/
#headerInner{
	width:908px;
}

/*フッターメニュー（グローバル）*/
.footerNav01 li{
	width: 125px;
	background: url(../common_images/footerMark01.gif) no-repeat left top;
	margin:5px 0 5px 0;
	line-height:1.2em;
}
ul.footerNavIn02 li{
	min-width:150px;
	width: auto !important;
	width: 150px;
}


.mainBoxInner{
	padding: 5px 18px 30px 10px;
	float: left;
	width: 908px;
}

/*==========================
  トップ　index.html
==========================*/
/*コンテンツ左部ブロック*/

/*情報ステーション・内枠*/
.stationListBoxInner{
	background:url(../images/stationFl02_bo.gif) repeat-y left top;
	width: 163px;
	padding: 0 7px;
	text-align: left;
}

#content{
	width:872px;
	margin:20px auto 20px 8px;
	text-align:center;
}

/*小見出し*/
#content h3,#content h4,#content h5,#content p{
	text-align:left;
}


/*事業者向け情報*/
div#u-info ul,div#u-info02 ul{
	list-style:url(../images/news_list.gif) disc center bottom;
	list-style-position:inside;
	height:18px;
}

div#u-info li,div#u-info02 li{
	font-size: 0.8em;
	line-height:2em;
	margin:5px 10px;
	background: url(../images/news_line.gif) no-repeat left bottom;
}


/*==========================
  利用方法　guide/index.html
==========================*/
/*困ったときは*/
#content div.helpBoxInner dl dd ul{
	padding: 10px 0 10px 0;
}
