@charset "utf-8";

/* ****************************************************
Title: print.css
Created: 2010/01/12
Last Modified: 2010/07/02
Editor(s): nishio
Last Editor: nishio
***************************************************** */


/* Table Of Contents
----------------------------------------

# Adjusts for print

----------------------------------------*/


/* Adjusts for print
---------------------------------------------------------------------------- */

* html body {
	zoom: 70%;
}

