@charset "utf-8";

/*****************************************/
/*** Footer ***/
/*****************************************/




/*----------------------------------------------------
	footer#globalFooter
----------------------------------------------------*/
 div#footer{
	background-color: #343436;
	width:100%;

}

footer#globalFooter {
	background-color: #343436;
	overflow:hidden;
	height:100px;
}
footer#globalFooter {
	margin:0 auto;
	text-align:center;
	width:900px;	
	color:#FFF;
	padding:15px;
}

footer#globalFooter ul {
	list-style: none;
	float:left;
	color:#FFF;
	border-right:1px solid #FFF;
	font-size:12px;
}

footer#globalFooter ul li {
	float:left;
	margin-right:10px;
	color:#FFF;
	
}
footer#globalFooter ul li a {
	display:block;
	color:#FFF;
	border-left:1px solid #FFF;
	padding:0 5px;
	line-height:1;
	text-decoration:none;
		font-size:12px;
}
footer#globalFooter p.copyright{
		font-size:12px;
}


/* copyright
----------------------------------------------------*/
footer#globalFooter p.copyright {
	float:right;
	color:#FFF;
}

footer#globalFooter p.copyright small {
		color:#FFF;
		font-size:80%;
}
